/* Your custom styles */
/** front page */
body {
    /*background-color: #576183 !important;*/
    /*background-color: #042D00 !important;*/
    background-color: #FFF !important;
}
.bg-info{
  /*background-color: #084000 !important;*/
  /*background-color: #CDCDCD !important;*/
}


.intro-2 {
    /*background: url("../img/misc/adminbg.jpg")no-repeat center center;
    background-size: cover;*/
}
.top-nav-collapse {
    /*background-color: rgba(32, 68, 115, 0.9) !important; */
}
.navbar:not(.top-nav-collapse) {
    /*background: rgba(63,129,166, 0.9) !important;*/
    background: transparent !important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
       /* background: rgba(63,129,166, 0.9) !important;*/
       background: transparent !important;
    } 
}

h6 {
    line-height: 1.7;
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1100px; 
    } 
}

/** colors */
.clear-top {
    margin-top:50px;
}
.bg-info {
  background-color: #EDA100 !important;
}


.login-page{
    margin-top:5rem;
}

.brand-logo{
    width:70%;
    height:auto;
}

.sidebar{
    padding-top:20px;
    background: transparent !important;
    /*background: rgba(63,129,166, 0.9) !important;*/
}
.navbar{
    -moz-box-shadow:    0px 1px 2px 1px #A5A5A6;
    -webkit-box-shadow: 0px 1px 2px 1px #A5A5A6;
    box-shadow:         0px 1px 2px 1px #A5A5A6;
}


.danger-color-dark{
    background-color:#BB0804;
}
.navbar .nav-link{
  color: #000;
}
.nav .nav-link{
  color: #000; 
} 

.white-text{
  color: #FFF;
}
.white-text:hover{
  color: #FFF;
}
.country_flag_m {
    height: 40px;
}
.country_flag_s {
    height: 30px;
}
.team_flag_s {
    height: 30px;  
}
.op_flag_m {
    height: 40px;  
}

.msg_div {
    padding-left:5px;
}
/***************** BI info bars */
    
.fill {
    width:93%;
}

.noticebar {
  margin: 0 0 8px;
  padding: 0;
  list-style: none;
  zoom: 1;
  color: #000;
}
.noticebar a {
  border: 1px solid #aaaaaa;
  margin: 0px 3px 5px 0;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size:100%;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #E8E8E8;
  display:block;
  min-height:40px;
  text-align: middle;
}
.noticebar a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #cccccc;
}
.noticebar .active a {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: #cccccc;
}
.noticebar-vertical > li {
  float: none;
}

/*#master-autocomplete{
    padding:5px;
    display:none;
}
.auto_list:hover{
    background-color: #CDCDCD;
    cursor: pointer;
}*/

.nobr{
    white-space:nowrap;
}

#dragandrophandler {
    border: 2px dotted #0B85A1;
    color: #92AAB0;
    text-align: left;
    vertical-align: middle;
    padding: 30px;
    margin-bottom: 10px;
    font-size: 200%;
  }


.profile_image_small{
  /*margin-bottom: 10px;*/
  background-image: linear-gradient(to bottom right, #EDA100 , #ED8904);
  width: 80px;
  height: 80px;
  border: 2px solid #EDA100;
  border-radius: 50%;
}

/** ********** */
/* media override */
@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
}

/* Optional: Makes the sample page fill the window. */
/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/
